<%= form_with model: @food_truck do |form| %>
  <div>
    <%= form.label :name %>
    <%= form.text_field :name %>
  </div>
  <div>
    <%= form.label :cuisine_type %>
    <%= form.text_field :cuisine_type %>
  </div>
  <div>
    <%= form.label :description %>
    <%= form.text_area :description %>
  </div>
  <div>
    <%= form.label :address %>
    <%= form.text_field :address %>
  </div>
  <div>
    <%= form.label :user_id, "Propriétaire" %>
    <%= form.collection_select :user_id, User.all, :id, :lastname, prompt: "Sélectionner un utilisateur" %>
  </div>
  <div>
    <%= form.submit 'Créer' %>
  </div>
<% end %>